{# templates/product/_form2.html.twig #}

{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.price) }}

<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
</div>

{{ form_end(form) }}
