{% extends 'base.html.twig' %}

{% block body %}
    <script src="https://cdn.tailwindcss.com"></script>

    <table class="table">
        <thead>
        <tr>
            <th class="px-4 py-2 bg-blue-500 text-white">Id</th>
            <th class="px-4 py-2 bg-blue-500 text-white">Name</th>
            <th class="px-4 py-2 bg-blue-500 text-white">Description</th>
            <th class="px-4 py-2 bg-blue-500 text-white">Price</th>
            <th class="px-4 py-2 bg-blue-500 text-white">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td class="border px-4 py-2" id="productId{{ product.id }}">{{ product.id }}</td>
                <td class="border px-4 py-2" id="productName{{ product.id }}">{{ product.name }}</td>
                <td class="border px-4 py-2" id="productDescription{{ product.id }}">{{ product.description }}</td>
                <td class="border px-4 py-2" id="productPrice{{ product.id }}">{{ product.price }}</td>
                <td class="border px-4 py-2">
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="text-blue-600">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="text-blue-600">edit</a>
                    <a href="{{ path('app_product_delete', {'id': product.id}) }}" class="text-blue-600">delete</a>

                    <button type="button" class="text-blue-600" onclick="toggleAvailability({{ product.id }})">
                        Toggle Availability
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="border px-4 py-2" colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}" class="text-blue-600">Create new</a>

    <div class="mt-4">
        <a href="{{ path('app_product_export_json') }}" class="bg-green-500 text-white px-4 py-2 mr-2">Export to JSON</a>
        <a href="{{ path('app_product_export_yaml') }}" class="bg-yellow-500 text-white px-4 py-2 mr-2">Export to YAML</a>
        <a href="{{ path('app_product_export_csv') }}" class="bg-blue-500 text-white px-4 py-2">Export to CSV</a>
    </div>
    </script>
{% endblock %}
